---
title: Мёртвый сезон
---
<%= image_tag 'dow_box.jpeg', :class => "pull-left" %>

Игра "Мертвый сезон: перекрестки" появилась в прошлом году и сейчас занимает 18 место лучших игр в мире [по версии портала BoardGameGeek](https://www.boardgamegeek.com/boardgame/150376/dead-winter-crossroads-game) (и первое место среди игр 2014 года).

По итогам Golden Geek Awards 2014 игра Dead of Winter: A Crossroads Game заняла первое место в двух номинациях:

- Лучшая инновационная игра.
- Лучшая тематическая игра.

Русский перевод поступил в продажу в конце сентября 2015 года.

Подытожив всё, что написано выше: это **самая свежая** и одна из **самых крутых** настолок на рынке, которая сочетает элементы настольной стратегии, ролевой игры и книги-игры. И вы это можете оценить самостоятельно!

[Карточка игры на Tesera.ru](http://tesera.ru/game/Dead_of_Winter_A_Crossroads_Game/)

**Правила объясняет:** Александр Яковлев
