---
title: Фиаско
---
<%= image_tag 'Fiasco.png', :class => "pull-left" %>

### Всё пойдёт прахом. Быстрее, чем вы успеете понять.

Игра Фиаско гениальным образом подражает действию "action" кинофильмов. Мы играем обычных людей с большими амбициями, тайными желаниями и слабым самоконтролем. Радужные мечты будут сбываться самым бездарным образом. Этим людям в целом не везёт, а в конце всё и вовсе взорвётся вспышкой зависти, жестокости и взаимных обвинений. Пострадает репутация, будет обретён болезненный опыт, кто-то, возможно, даже расстанется с жизнью. И если вам действительно повезёт, то вы вернётесь к тому, с чего начали.

Фиаско — это игра для 3-5 игроков без ведущего, рассчитанная на одну встречу в 2-3 часа и не требующая ничего, кроме нескольких игральных кубиков. В процессе игры вы создадите и разыграете опасную и, возможно, даже безвыходную ситуацию, обычно порождённую жадностью, страхом и страстью. По духу и сюжету это может быть что угодно: "Фарго", "Во все тяжкие", "Светлячок", "Семейка Аддамс". И времени на игру понадобится примерно столько же, сколько на просмотр этих фильмов.

Запись на месте, там же выберем шаблон.

Пожалуйста, проголосуйте, какие игры и темы для игр хотели бы видеть на фестивале. Проголосовать можно в комментариях или [в этой теме.](https://vk.com/topic-59385114_32299696)
