---
title: GAMEBOX 
---
<a href="http://gbtoys.ru" target="_blank"><%= image_tag 'gamebox.jpg', :class => "pull-left", :resize_to => '500x500' %></a>

Секция настольных игр от магазина настольных игр "GAMEBOX", г. Кемерово.

Пожалуйста, проголосуйте, какие игры хотели бы видеть на фестивале. Проголосовать можно в комментариях или [в этой теме.](https://vk.com/topic-59385114_32299696)
