---
title: Данжен — Симфония Платины
---
<%= image_tag 'planets.jpg', :class => "pull-right", :resize_to => '500x500' %>

Хочу спросить Вас - а доводилось ли Вам играть когда-нибудь ни рыцарем, ни магом, ни техником, ни волком, а самой что ни на есть настоящей планетой? Ну или Планеткой? Получалось отвлечься от тяжелых систем и в шутку поиграть в судьбы небесных тел?

Если нет и Вам стало интересно - приходите на сессии коротенькой игры "Маленькая Космическая симфония", которую придумал некогда [Александр Кульков.](https://vk.com/sunflare)

Буду ждать Вас за игровым столом, до встречи!

Площадка "Симфония Платины"

**Мастер игры:** [Юрий Gefest Новиков](https://vk.com/id16764774)

**Порог вхождения:** Низкий/Легкий

**Уровень игрока:** От новичка

**Продолжительность:** от 5 минут до 5 часов.
