---
title: Подполье 
---
<%= image_tag 'podpole.jpg', :class => 'pull-left' %>
Секция настольных игр от [клуба настольных игр "Подполье",](https://vk.com/club29535649) г. Кемерово.

*Пожалуйста, проголосуйте, какие игры хотели бы видеть на фестивале. Проголосовать можно в комментариях или [в этой теме.](https://vk.com/topic-59385114_32299696)*
