---
title: Данжен — Бандитские Байки
---
<%= image_tag 'thieves1.jpg', :class => "pull-left img-responsive" %>


Кто может быть настолько глуп, чтобы грабить волшебников, да еще и в их собственной школе? На эту опасную авантюру отправляется шайка прохиндеев, по уши завязших в криминальных долгах. Вооружившись всем необходимым, они должны за одну ночь вынести сокровища или сгинуть на темных улицах.

Небольшая игра "Бандитские Байки" рассчитанная на 2-4 игроков, в среднем займет около двух часов игрового времени. Действие происходит в вымышленной вселенной, схожей с поздним средневековьем. Минимум бросков кубиков, максимум логики и смекалки. Если вам понравится эта игра, и я как мастер, в дальнейшем мы сможем сыграть в нормальный данж на одну-две недели.

Мастер игры: [Александр Яцута](https://vk.com/id10503556)

[Анонс игры](https://vk.com/topic-59385114_32299792?post=164)
