$line-height: 1.5;
$line-height-lg: 1.7;
$line-height-sm: 1.5;

$headings-font-family: 'PT Sans Caption', 'PT Sans';
$font-family-base: 'PT Sans', Arial, Verdana, sans-serif;

@import "variables";
@import "mixins";

@import "normalize";
@import "reboot";
@import "print";
@import "grid";
@import "images";
@import "tables";
@import "buttons";

@import "nav";
@import "navbar";
//@import "code";
@import "type";
@import "card";

@import "utilities";
@import "utilities-spacing";
@import "utilities-responsive";

footer {
  margin: 0 2rem;
}

img.pull-left {
  margin-right: 1em;
}

img.pull-right {
  margin-left: 1em;
}

.vertcenter {
  @include media-breakpoint-up('sm') {
    padding-top: 10rem;
    line-height: 3;
  }
  text-align: center;
  h1 {
    margin-bottom: 2rem;
  }
}

table {
  th, td {
    vertical-align: middle !important;
    text-align: center;
  }
  td {
    border: 1px solid #ccc;
  }
}

.bigskip-after {
  margin-bottom: 3rem;
}
