<%= partial "/layouts/partials/header" %>
<div class="row">
    <div class="col-md-12">
	<header>
	    <h1><%= current_page.data.title %></h1>
	    <h2><%= current_page.data.subtitle %></h2>
	</header>
	<main>
	<%= yield %>
	</main>
    </div>
</div>
<% if (current_page.data.layout != 'index') and not development? %>
    <%= disqus %>
<% end %>
<%= partial "/layouts/partials/footer" %>
