<div class="row">
  <div class="col-md-12">
    <footer>
      <% link_to 'https://vk.com/underplan' do %>
        <%= image_tag 'underplan.png', :width => 200, :resize_to => '200x100', :alt => 'Сообщество ВКонтакте', 'class' => 'pull-left' %>
      <% end %>
      <% if current_page.url != '/contribute/' %>
      <div class="pull-right">
        <p><i><%= link_to 'Отказ от ответственности', '/terms.html' %></i></p>
      </div>
      <% end %>
    </footer>
  </div>
</div>
</div>

<link href='https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Caption&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter32817257 = new Ya.Metrika({
                    id:32817257,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/32817257" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
