<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <%# Always force latest IE rendering engine or request Chrome Frame %>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <link rel="alternate" href="/atom.xml" title="<%= data.site.title %>" type="application/atom+xml">
    <title><%= data.site.title %> - <%= current_page.data.title %></title>
    <%= stylesheet_link_tag "style" %>
</head>
<body>
  <nav class="navbar navbar-light bg-faded">
    <div id="navbar">
      <a class="navbar-brand" href="/"><%= data.site.title %></a>
      <ul class="nav navbar-nav">
        <li class="nav-item <% if current_page.url == '/' %> active <% end %>">
          <%= link_to 'Карта проведения', '/#map', :class => 'nav-link' %>
        </li>
        <li class="nav-item <% if current_page.url == '/' %> active <% end %>">
          <%= link_to 'Расписание', '/#schedule', :class => 'nav-link' %>
        </li>
        <li class="nav-item <% if current_page.url == '/faq/' %> active <% end %>">
          <%= link_to 'ЧаВО', '/faq.html', :class => 'nav-link' %>
        </li>
        <li class="nav-item <% if current_page.url == '/terms/' %> active <% end %>">
          <%= link_to 'Отказ от ответственности', '/terms.html', :class => 'nav-link' %>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
