---
title: Ответы на все вопросы
---
<%= image_tag 'munchkin.jpg', :class => "img-responsive pull-left", :resize_to => '200x200', :width => '200px' %>

#### Что такое настольные игры?

Мы не собираемся, чтобы поиграть в шахматы, нарды, карты и всё, что старше позапрошлого века.

Нам интересны **авторские** игры, правила которых изобретались конкретными людьми.
Вы слышали про такие игры, как "Манчкин", "Ужас Аркхэма"?
Может быть, вы знаете игровую франшизу Warhammer?

Даже если вы не совсем "в теме", это *стоит* того, чтобы посмотреть и познакомиться.

<%= image_tag 'tabletop.jpg', :class => "img-responsive pull-right", :resize_to => '300x300', :width => '300px' %>

#### Что такое ролевые игры?

Мы собрали <%= link_to 'отдельную страницу', '/whatis.html' %> для ответа на этот вопрос.

#### Это подвижные игры? Будем бегать в костюмах и с мечами?

Нет, у нас не будет ролевых игр живого действия c оружием.
Это фестиваль настольных ролевых игр.
В настольные игры играют за столом.

В некоторых секциях также будут небоевые ролевые игры живого действия.
Без костюмов и оружия.
Люди просто стоят и разговаривают друг с другом.
Это тоже интересно.

#### Зачем нужно записываться? Можно ли просто прийти?

Да, можно просто решить и прийти, не записываясь ни на одну из игр заранее.

Игры начинаются по расписанию.
Как только мастер освобождается и хочет начать игру, он собирает игроков из тех, кто находится в зале, и они начинают.
Таким образом, если вы хотите попасть на какую-то из игр, вам нужно запомнить, к кому обращаться и вовремя его найти, иначе он не узнает что вы хотите поучаствовать.
Если же вы не хотите искать мастера или опасаетесь, что не успеете его найти до начала игры, вам стоит записаться.

* Запись нужна нам, чтобы понять, какие игры точно пройдут.

* Запись нужна мастерам игр, чтобы знать, что именно ожидают игроки.
Если вы напишете, "Я хочу играть в киберпанк и взлом компьютеров!" то мастер успеет вписать в игру взлом компьютеров.

* Запись нужна вам, чтобы вы не искали партию прямо на фестивале.

#### А будет где оставить одежду?

Вешалка.

#### Почему так дорого?

Взнос на входе идёт на оплату помещения для проведения фестиваля, рекламы фестиваля и организацию буфета для гостей.

Вы НЕ платите за наши игры. Подробнее об этом написано на странице <%= link_to '"Отказ от ответственности".', '/terms.html' %>

#### Я хочу прийти на определённую игру, можно мне подойти к указанному времени?

Можно. Вход открыт весь день. Но напоминаем, что расписание дано <%= link_to 'с долей приближения.', '/terms.html' %>
Это значит, что на месте в день проведения игры могут начаться раньше или позже намеченного.
Приходите пораньше, чтобы точно не пропустить нужное.
