---
title: Подземеплан
subtitle: Фестиваль ролевых и настольных игр
layout: index
---
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
<div class="row bigskip-after">
	<div class="col-md-6 vertcenter">
		<h1><%= current_page.data.title %></h1>
		<p><%= image_tag 'logo.png' %></p>
		<h2><%= current_page.data.subtitle %></h2>
		<%= link_to 'Что такое ролевые игры?', '/whatis.html' %>
		<p>7 ноября, г. Кемерово</p>
		<p>ул. Карболитовская, д. 12 ("Ажур")</p>
		<p><b>Вход:</b> 250 рублей</p>
		<%= link_to '"Что нужно, чтобы прийти?" и другие вопросы', '/faq.html' %>
	</div>
	<div class="col-md-6 hidden-sm-down">
		<%= image_tag 'poster.jpg', :width => '100%', :class=>'img-responsive', :resize_to => '548x822', :alt => '7 ноября, 11.00, г. Кемерово, ул. Карболитовская 12б — приходите!' %>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h2 class="text-center"><a name="map"></a>Место проведения</h2>
		<div id="map" style="width: 100%; height: 500px">
		</div>
	</div>
</div>
<div class="row">
    <div class="col-md-12">
	<h2 class="text-center"><a name="schedule"></a>Расписание</h2>
	    <p>Орггруппа напоминает, что расписание составляется с долей приблизительности. В зависимости от интереса к заявкам оно может меняться. Оставляйте комментарии, если вас что-то не устраивает.</p>
	    <div class="table-responsive">
		<table class="table">
		    <thead>
			<tr>
			    <th>Время</th>
			    <th>Стол 1</th>
			    <th>Стол 2</th>
			    <th>Стол 3</th>
			    <th>Стол 4</th>
			    <th>Стол 5</th>
			    <th>Стол 6</th>
			    <th>Стол 7</th>
			    <th>Стол 8</th>
			    <th>Стол 9</th>
			</tr>
		    </thead>
		    <tbody>
			<tr>
			    <th scope="row">11:00</th>
			    <td colspan=9><%= link_to 'ОТКРЫТИЕ', '/events/opening.html' %></td>
			</tr>
			<tr>
			    <th scope="row">11:30</th>
			    <td rowspan=4><%= link_to 'Данжен: Бандитские Байки', '/events/thieves.html' %></td>
			    <td rowspan=2 colspan=2>Свободно</td>
			    <td rowspan=6><%= link_to 'Данжен: Алексей Вольхин', '/events/alex.html' %></td>
			    <td rowspan=2><%= link_to 'Фиаско', '/events/fiasco.html' %></td>
			    <td rowspan=6><%= link_to 'Варгеймы', '/events/wargames.html' %></td>
			    <td rowspan=6>
				<% link_to '/events/gamebox.html' do %>
				    Игротека <%= image_tag 'gamebox-mini.jpg', :resize_to => '100x100' %>
				<% end %>
			    </td>
			    <td rowspan=6>
				<% link_to '/events/podpole.html' do %>
				    Игротека <%= image_tag 'podpole.jpg', :resize_to => '100x100' %>
				<% end %>
			    </td>
			    <td rowspan=6><%= link_to 'Данжен: Андрей Глущенко', '/events/corsair.html' %></td>
			</tr>
			<tr>
			    <th scope="row">12:00</th>
			</tr>
			<tr>
			    <th scope="row">13:00</th>
			    <td rowspan=4><%= link_to 'Данжен: Симфония Платины', '/events/gefest.html' %></td>
			    <td rowspan=4><%= link_to 'Данжен: Айван Осипов', '/events/ivan.html' %></td>
			    <td rowspan=4><%= link_to 'Мёртвый сезон', '/events/deadofwinter.html' %></td>
			</tr>
			<tr>
			    <th scope="row">14:00</th>
			</tr>
			<tr>
			    <th scope="row">15:00</th>
			    <td rowspan=2><%= link_to 'Диалоги', '/events/dialogue.html' %></td>
			</tr>
			<tr>
			    <th scope="row">16:00</th>
			</tr>
			<tr>
			    <th scope="row">17:00</th>
			    <td colspan=9>ПЕРЕРЫВ</td>
			</tr>
			<tr>
			    <th scope="row">18:00</th>
			    <td colspan=9 rowspan=3><%= link_to 'РОЛЕВАЯ КОНФЕРЕНЦИЯ', '/events/conference.html' %></td>
			</tr>
			<tr>
			    <th scope="row">19:00</th>
			</tr>
			<tr>
			    <th scope="row">20:00</th>
			</tr>
			<tr>
			    <th scope="row">Ночь</th>
			    <td colspan=9 rowspan=3>Игры на квартирах</td>
			</tr>
		    </tbody>
		</table>
	    </div>
    </div>
</div>
<script>
var map = L.map('map', {
    scrollWheelZoom: false
}).setView([55.3592, 86.0688], 16);

L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map);

L.marker([55.36297, 86.05968]).addTo(map)
    .bindPopup('Клуб "Ажур", второй этаж')
    .openPopup();
</script>
