---
title: Что такое настольная ролевая игра?
---
<%= image_tag 'horizontal.jpg', :class => "img-responsive pull-right", :resize_to => '650x650', :width => '650px' %>

Ролевая игра — это история, которую участники рассказывают в лицах. Скорее всего, вы уже знакомы с ролевыми играми: вы же играли в героев книг, фильмов или комиксов? Возможно, вы играли в ролевые компьютерные игры. Так вот, мы знаем как делать это ещё интереснее.

Вы можете играть во что угодно: научную фантастику, альтернативную историю, детектив и гонки на магических самолётах. Кто‑то любит мир «Бэтмена», а кто‑то — «Моя маленькая пони».

Вы создаёте персонажей, которые во время игры исследуют мир, обнаруживают тайны, вступают в разнообразные взаимодействия с другими персонажами, сражаются с противниками и раскрывают себя в интересных ситуациях. Вид ролевой игры определяет, как именно вы будете играть.

В настольных ролевых используются игральные карты, кубики, фишки, миниатюры и прочие аксессуары, но действие происходит в вашем воображении. Для этого вам понадобится партнёр, который станет ведущим — главным рассказчиком. Рассказчик создаёт историю и следит за правилами игры, по которым его история будет работать. Именно он, а не компьютер, смотрит на всё, происходящее вокруг персонажей игроков. Он реагирует на любой поворот сюжета и на действия остальных участников.

В ролевых играх живого действия вам больше не нужен стол, потому что вы сами входите в мир игры. Это достаточно похоже на театр импровизации: вы входите в роль и общаетесь в ней с другими игроками. Кубики и фишки обычно используют только в особых случаях, а ведущий тоже не всегда должен присутствовать рядом.

Любая ролевая игра — это не только приключение, но ещё и интересная история, в которой может произойти всё, что угодно, ведь вы всегда можете превратить волшебную сказку в героическую сагу или мистическую трагедию, потому что придуманные вами персонажи — это важные герои повествования. Важно, что вы «выигрываете» не тогда, когда ваш персонаж убивает последнего монстра или выигрывает миллион золотых, но когда он принимает участие в необычной и запоминающейся истории.

Компьютерные ролевые игры и MMORPG ведут свою историю именно от настольных ролёвок. Вы даже можете узнать пошаговые бои и элементы ролевых систем. Вы точно так же в любой момент можете закончить игру, а можете начать новое приключение с теми же персонажами даже после того, как они закончат текущую кампанию.

Всё достаточно просто: приходите к нам, садитесь за свободный столик и дайте волю своему воображению! Какого персонажа хотели бы сыграть именно вы? 
